.distanceLeftPage{
    font-weight: 600;
    p {
        font-size: 50px;;
    }

    .distanceChart {
        display: flex;
    
        p {
            font-size: 26px;
            margin: 0 10px ; 
        }
    }
}

.greeting{
    animation: fadeIn;
    animation-duration: 5s;
}

@keyframes fadeIn {
  0% {opacity: 0%;}
  100% {opacity: 100%}
}

