body {
  font-family: 'Poppins', sans-serif;
}

.greeting {
  animation: fadeIn;
  animation-duration: 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.svg-animation {
  transition: width 1s;
}
