.distanceLeftPage{
    font-weight: 600;
    p {
        font-size: 50px;;
    }

    .distanceChart {
        display: flex;
    
        p {
            font-size: 26px;
            margin: 0 10px ; 
        }
         
    }
}

